<div id="movies-container">
  <div class="logo-container">
    <h1>Cinema Canary</h1>
    <img width="50px" src="/images/canary.png" alt="" />
  </div>
  <p>Click on the movie to check the showtimes!</p>
  <div class="cards-container">
    {{#each movies}}
      <div class="card-item">
        <img src={{this.image}} alt="{{this.title}} Poster" />
        <h3>{{this.title}}</h3>
        <a href="/movies/{{this.id}}">See More</a>
      </div>
    {{/each}}
  </div>
</div>